doctype html
html
    head
        title Mailgun Transactional
    body
        p Well that's awkward! But your email delivery has failed. Please try again later and make sure that you enter correct email addresses and use ',' to separate multiple email addresses. Thank you!
        div.pull-right
          a(href="/") Return to home page