html
  head
    title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  body
    .container
      .page-header
        h1 My Profile
      form.login-form.form-horizontal(method='post', action='./onsubmit', enctype='multipart/form-data')
        input(name='_csrf', type='hidden')
        .form-group
          label.col-sm-4
            | From
            font(color='red') *
          .col-sm-8
            input.form-control(placeholder='Enter your Email address here', required='required', name='from', type='text')
        .form-group
          label.col-sm-4
            | To
            font(color='red') *
          .col-sm-8
            input.form-control(placeholder="e.g. abc@xyz.com, xyz@abc.com - separate multiple addresses by commas ','", required='required', name='to', type='text')
        .form-group
          label.col-sm-4 Cc
          .col-sm-8
            input.form-control(placeholder="e.g. abc@xyz.com, xyz@abc.com - separate multiple addresses by commas ','",  name='cc', type='text')
        .form-group
          label.col-sm-4 Bcc
          .col-sm-8
            input.form-control(placeholder="e.g. abc@xyz.com, xyz@abc.com - separate multiple addresses by commas ','",  name='bcc', type='text')
        .form-group
          label.col-sm-4 Subject
          .col-sm-8
            input.form-control(placeholder='Enter the subject of the Email here', name='subject', type='text')
        .form-group
          label.col-sm-4
            | Message
            font(color='red') *
          .col-sm-8
            textarea.form-control(rows='4', placeholder='Enter your message here', required='required', name='mailbody')
        .form-group
          label.col-sm-4 Attach File
          .col-sm-8
            input(name='file', type='file')
        .form-group
          .col-sm-offset-4.col-sm-8
            button.login.btn.btn-primary(type='submit') Send
        div.pull-right
          a(href="https://sendgrid.com/tos") Terms of Service
